/* Add CSS styling here */
* {
    border: 1px solid black;
    box-sizing: border-box;
}

.headerDiv {
    background-color: #9ED8DB;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 25px;
}

nav {
    display: flex;
    flex-wrap: nowrap;
}
nav a {
    background-color: #E9FFF9;
    width:100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
}

a {
    padding: 10px;
}
.item2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5% 15% 5% 15%;
    text-align: left;
}

.item2 a{
    background-color: #E9FFF9;
    width:120px;
    height: 40px;
    text-align: center;
    text-decoration: none;

}

.container1 {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding-top: 2%;;
}

.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.container2 .item {
    height: 200px;
    width: 200px;
    margin: 25px;
    background: lightgray
}

.footerDiv{
    background-color: #9ED8DB;
    height: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.footerDiv a{
    background-color: #E9FFF9;
    width:180px;
    height: 40px;
    text-align: center;
    text-decoration: none;
}